h1{
    text-align: center;
    color:white;
    font-size: impact,charcoal,sans-seriff;
}

.navbar ul{
    list-style-type: none;
    background-color: #0D1321;
    padding: 0px;
    margin: 0px
    overflow: hidden; 
}

.navbar a{
    color:white;
    text-decoration: none;
    padding: 5px;
    display: block;
    text-align:center ;
}
.navbar a:hover{
    background-color: #748CAB
}
.navbar li{
    float: center;
}

h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    text-align:center;
    color:white

}

.container{
    width:80%;
    margin:auto;



}

.box-1{
    background-color:0D1321;
    color: #fff;
    border:5px white solid;
    border-width:2px;
    padding: 10px;
    margin-top: 0px;
    text-wrap: wrap;

}

.box-1 h1{
    font-family:tahoma;
}

p{
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height:1.6em;

}

.box-2{
    border:3px
}

.photo{
    border: 5px white solid;
    
}

.project{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.body{
    background-color: #3E5C76;
}

.project2{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto
    
}
